# Dependencies
node_modules
package-lock.json

# Build outputs
dist
build
coverage
.next

# Environment files
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Vite
.vite
